.keyboard {
  border: 2px solid $color-black;
  background: $color-keyboard-bg;
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  width: 866px;
  gap: 6px;
  margin: 0 auto;
  

  &__btn {
    border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}